.inForm {
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 20%;
}

.button {
	margin-left: 40%;
}

.header {
	padding-left: 7%;
	color: white;
	font-weight: 500;
	font-size: 25px;
}

.footer {
	padding-top: 5px;
	color: white;
	text-align: right;
	padding-right: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: lightblue
}

.Form {
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
}

.fields {
	margin-top: 2%;
}

.Table {
	margin-top: 3%;
}

.Alert {
	margin-top: 10%;
}

.Alertdata {
	margin-left: 20%;
}